@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
p,
input,
span,
button {
  font-family: Josefin Sans;
}

.__container {
  background-image: url('@/assets/images/bg.png');
}
.__parent {
  height: calc(100vh - 300px);
}
::-webkit-scrollbar {
  display: none;
}
input[type='checkbox']:checked + span {
  text-decoration: line-through;
  color: #4d5067;
}
